@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Spartan:wght@100;200;300;400&display=swap");

:root {
  --bg-color: #fefbf3;
  --sec-bg-color: #f8f0df;
  --ter-bg-color: #e3e0d8;
  --primary-color: #79b4b7;
  --secondary-color: #9d9d9d;
  --shadow-100: 3px 3px 0px 0px rgba(0, 0, 0, 0.11);
  --border-radius-xs: 3px;
}

* {
  font-family: "Open Sans", sans-serif;
}

.app_title {
  font-size: 3rem;
  font-family: "Spartan", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--bg-color);
  text-align: center;
}

.App label {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--main-color);
}

.App input {
  display: flex;
  border: var(--secondary-color) 2px solid;
  border-radius: 3px;
  outline: none;
  transition: transform 0.2 ease;
  font-size: 1rem;
  box-shadow: var(--shadow-100);
}

.App input:focus {
  outline: var(--primary-color) 1px solid;
}

button {
  font-weight: 500;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-xs);
}

button:hover {
  cursor: pointer;
  background-color: var(--sec-bg-color);
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input_label {
  display: flex;
}

.app_container {
  margin-top: 8rem;
}

.todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.add-todo {
  display: flex;
  gap: 1rem;
}

.todo_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.todo_list__search_input {
  display: flex;
  gap: 1rem;
}

.todo_list__items {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.todo_list__items__no-todos {
  margin-top: 1.7rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.todo-item {
  display: flex;
  padding: 1rem 0rem;
  border-radius: var(--border-radius-xs);
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.todo_item__text {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.todo_item__text--completed {
  text-decoration-line: line-through;
}

.items-container li::first-letter {
  text-transform: uppercase;
}

@media (max-width: 400px) {
  .app_container {
    margin-top: 5rem;
  }

  .todos_wrapper {
    margin: 2rem 1rem 0 1rem;
  }
}
